.table-responsive {
  overflow: visible !important;
}

@media (max-width: 768px) {
    .removeSmall {
      display: none !important;
      border: none !important;
    }
}

@media (min-width: 769px) {
    .addSmall {
      display: none !important;
    }
}

.al-main {
  margin-left: auto !important;
}
